.*
!.gitignore
!.github

# Compiled files
*.pyc
*.pyo

# Build files
build/*
dist/*
*.egg-info

# Created error log
error_log.txt

# Contents of the downloads and uploads directories, which are created in-use but shouldn't be persistent
psdi_data_conversion/static/downloads/*
psdi_data_conversion/static/uploads/*

# Any zone identifiers created by Windows copying
*:Zone.Identifier