<!--
  about.htm
  Version 1.0, 7th May 2025
-->

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PSDI Data Conversion Service</title>
  <link rel="icon" type="image/x-icon" href="./static/img/psdi-icon-dark.svg">
  <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lexend:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/format.css')}}">

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/jquery.dirtyforms/2.0.0/jquery.dirtyforms.min.js"></script>

  <script src="static/javascript/load_accessibility.js"></script>
</head>

<body marginwidth="0">

  <!-- Cover to hide element loading and make page transitions seem smoother -->
  <div id="cover"></div>

  <header class="header" id="psdi-header"></header>
  <script type="module">
    import { setHeaderLinksSource, setHeaderSource, setFooterSource } from "./static/javascript/psdi-common.js";
    // Due to this file being a template which will exist in a different directory once rendered, we need to set
    // a non-default location of the header links file
    setHeaderSource("{{url_for('static', filename='content/index-versions/psdi-common-header.html')}}");
    setFooterSource("{{url_for('static', filename='content/index-versions/psdi-common-footer.html')}}");
    setHeaderLinksSource("{{url_for('static', filename='content/index-versions/header-links.html')}}");
  </script>

  <div class="hero">
    <div class="max-width-box">
      <h1 class="hero__title marginless_header">About</h1>
    </div>
  </div>

  <div name="body" class="body">
    <div class="max-width-box">
      <p><strong>PSDI Data Conversion</strong></p>
      <br>
      {% if tag %}<p><strong>Version:</strong> {{ tag }}</p> {% endif %}
      {% if sha %}<p class="dev-only"><strong>SHA of latest commit:</strong> {{ sha }}</p> {% endif %}
      <strong>Project source:</strong> https://github.com/PSDI-UK/psdi-data-conversion
      <div class="medGap"></div>
    </div>
  </div>
  {% if tag %}
  <div class="secondary prod-only">
    <div class="max-width-box">PSDI Data Conversion {{ tag }} {% if sha %} (SHA: {{ sha }}) {% endif %}</div>
  </div>
  {% endif %}

  <footer class="footer" id="psdi-footer"></footer>

</body>

</html>