/*
  format.css
  Version 1.0, 11th October 2024
*/

@import url("psdi-common.css");

/* Forms inherit style from normal content, and makes sure content is well away from the edges */
form {
  width      : 95%;
  min-width  : 320px;
  padding-top: 1rem;
  align-self : center;
}

/* Padding for link to converter website. */
#visit {
  padding-left: 0.125rem;
}

/* Width management for select boxes and forms */

.med-width {
  width: 25rem;
}

@media (max-width: 25rem) {
  .med-width {
    width: 100%
  }
}

.large-width {
  width: 50rem;
}

@media (max-width: 50rem) {
  .large-width {
    width: 100%
  }
  input.large-width {
    width: calc(100% - 0.5rem)
  }
}

/* Hidden dummy elements to aid layout. */
#dummyText {
  visibility: hidden
}

/* Converter details, user input and file conversion initially not displayed. */
#converter,
#offer {
  display: none
}

/* Heading for Conversion page. */
#heading {
  display: block
}

/* Upload button (Convert) initially greyed out.*/
#uploadButton {
  background-color: var(--psdi-bg-color-secondary);
  color           : gray
}

/* Format boxes, reset button, text input box and report button initially not displayed on the 'Report' page */
#formats,
#in_out_formats,
#userInput,
#missing {
  display: none
}

/* Small vertical space. */
.smallGap {
  padding: 0.125rem;
}

/* Medium vertical space. */
.medGap {
  padding: 1rem;
}

/* Large vertical space. */
.largeGap {
  padding: 8rem;
}

/* Grid for textarea label/elements. */
.access-options {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
}

.access-option-container {
  padding-left   : 0 1rem 0 1rem;
  display        : flex;
  flex-direction : column;
  justify-content: flex-end;
}

[data-theme="dark"] .access-option-container.lm-only {
  display: none;
}

/* Dark blue text and 310px width select boxes. */
select {
  min-width: 5rem;
  width    : 90%;
}

select#light-colour,
select#dark-background {
  background-color: var(--ifm-color-primary);
  color           : var(--psdi-light-text-color-body);
}

select#size option {
  font-family: var(--psdi-default-font);
}

select#font option {
  font-size: var(--psdi-default-font-size);
}

select#dark-colour option {
  color: var(--psdi-default-dark-text-color-body);
}

select#light-colour option {
  background-color: var(--ifm-color-primary);
  color           : var(--psdi-default-light-text-color-body);
}

select#light-background option {
  background-color: var(--psdi-default-background-color);
}

select#dark-background option {
  background-color: var(--psdi-default-color-primary);
  color           : var(--psdi-light-text-color-body);
}

/* Initially hidden grid for select label/elements. */
.selGrid {
  display              : grid;
  grid-template-columns: 1fr 1fr
}

/* Select label/elements are stacked at <= 50rem. */
@media (max-width: 50rem) {
  .selGrid {
    grid-template-columns: auto
  }
}

/* Grid for logo and navigation. */
.navGrid {
  display              : grid;
  grid-template-columns: 1fr 2fr;
  margin               : 0 4rem 0 4rem
    /* top right bottom left */
}

/* Logo and navigation are stacked at <= 55rem. */
@media (max-width: 55rem) {
  .navGrid {
    grid-template-columns: auto
  }
}

/* Logo/navigation grid margins reduced at 25rem */
@media (max-width: 25rem) {
  .navGrid {
    margin: 0 1rem 0 1rem
  }
}

/* Navigation vertically aligned in the middle. */
.middle {
  align-self: center;
  text-align: right;
  padding   : 1rem
}