/*
  format.css
  Version 1.0, 11th March 2024
*/

/* Main heading, in a special very large light grey font. */
h1 {
    color: #e5e1e6;
    font-size: 4.4vw;
    font-family: 'Open Sans Condensed';
    margin: -18px 0 0 0 /* top right bottom left */
}

/* Relative size of header font increased for smaller screens, bearing in mind that normal text size does not change. */
@media (max-width: 430px) {
    h1 {
        font-size: 5.8vw;
        margin: -4px 0 0 0 /* top right bottom left */
    }
}

/* Sub-heading, in a larger than normal light grey sans serif font. */
h2 {
    color: #e5e1e6;
    font-size: 18px;
    font-family: 'Lato'
}

/* Padding and scaling for PSDI logo. */
img {
    padding: 8px;
    max-width: 41%;
    height: auto;
}

/* Relative maximum width reduced at 900px, since now relative to full screen width rather than half. */
@media (max-width: 900px) {
    img { max-width: 30.75% }
}

/* Padding for PSDI logo reduced to zero at 430px. */
@media (max-width: 430px) {
    img { padding: 0 }
}

/* Dark blue background, with content well away from the edge. */
form {
    background-color: #011e41;
    padding: 50px
}

/* Content moved closer to the edge for smaller screens. */
@media (max-width: 430px) {
    form { padding: 10px }
}

/* Labels for text boxes/areas. */
label {
    color: #e5e1e6;
    font-family: 'Lato';
    font-size: 14px
}

/* Link to email. */
a {
    font-family: 'Lato';
    color: #011e41
}

/* Link to converter website. */
#visit {
    padding: 8px;
    font-family: 'Lato';
    color: #993366
}

/* Font size reduced at 430px. */
@media (max-width: 430px) {
    a { font-size: 14px }
}

/* Scrollbar, light grey background and dark blue text for text area. */
textarea {
    overflow-y: scroll;
    background-color: #e5e1e6;
    color: #011e41;
    font-family: 'Lato';
    font-size: 14px;
    width: 310px;
    resize: none
}

/* Light grey back background, dark blue text and 330px width for the option flag select boxes. */
select {
    background-color: #e5e1e6;
    color: #011e41;
    font-size: 14px;
    font-family: 'Lato';
    width: 340px
}

/* Option flag select boxes (and their labels) are initially not displayed.*/
#flags {
    display: none
}

/* Hidden dummy elements to aid layout. */
#dummyText { visibility: hidden }

/* Converter details, user input and file conversion initially not displayed. */
h2, #converter, #radioButtons, #userInput, #convertFile { display: none }

/* Notes initially hidden. */
#notes { visibility: hidden;
         color: #e5e1e6;
         font-family: 'Lato';
         font-size: 14px
}

/* Magenta background for buttons. */
#enter, #cancel, #uploadButton, #noteButton {
    background-color: #993366;
    color: #e5e1e6;
    font-family: 'Lato';
    font-size: 14px
}

/* Light grey background and dark blue text for text input. */
#in, #searchTo, #searchFrom {
    background-color: #e5e1e6;
    color: #011e41;
    font-family: 'Lato';
    font-size: 14px;
    width: 310px
}

/* Small vertical space. */
.smallGap { padding: 2px }

/* Medium vertical space. */
.medGap { padding: 20px }

/* Large vertical space. */
.largeGap { padding: 140px }

/* White sans serif font. */
.normalText {
    color: #e5e1e6;
    font-family: 'Lato';
    font-size: 14px
}

/* Grid for textarea label/elements. */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

/* Textarea label/elements are stacked at <= 1070px. */
@media (max-width: 1070px) {
  .grid { grid-template-columns: auto }
  #dummyText { display: none }
}

/* Initially hidden grid for select label/elements. */
.selGrid {
    display: grid;
    grid-template-columns: 1fr 1fr
}

/* Select label/elements are stacked at <= 800px. */
@media (max-width: 800px) {
    .selGrid { grid-template-columns: auto }
}

/* Grid for logo and navigation. */
.navGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px 0 60px /* top right bottom left */
}

/* Logo and navigation are stacked at <= 900px. */
@media (max-width: 900px) {
    .navGrid { grid-template-columns: auto }
}

/* Logo/navigation grid margins reduced at 430px */
@media (max-width: 430px) {
    .navGrid { margin: 0 18px 0 18px }
}

/* Navigation vertically aligned in the middle. */
.middle {
    align-self: center;
    text-align: right
}
